<%= render partial: '/layouts/navbar' %>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="col s12">Edit <%= resource_name.to_s.humanize %></h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-field col s12">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'validate' %>
          <%= f.label :email, data: {error: 'please fill in a valid email'} %>
        </div>

        <div class="input-field col s12">
          <%= f.text_field :username %>
          <%= f.label :username %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="input-field col s12">
          <%= f.password_field :current_password, autocomplete: "off" %>
          <%= f.label :current_password %>
        </div>

        <div class="input-field col s12">
          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.label :password, 'New password' %>
        </div>

        <div class="input-field col s12">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <%= f.label :password_confirmation %>
        </div>

        <div class="actions col s12">
          <%= f.submit "Update profile", class: 'waves-effect waves-light btn' %>
          <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'red-text text-lighten-2' %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function() {
  Materialize.updateTextFields();
});

</script>
