<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo left">Logo</a>
    <ul class="right">
      <li><%= link_to "instructions", root_path %></li>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
    </ul>
  </div>
</nav>
<div class="container">
      <h3>Setup</h3>
      <p>
        To start off you first need to install the <a href="https://toolbelt.heroku.com/" target="_blank">Heroku Toolbelt</a> to make sure that you have acces to the <a href="https://devcenter.heroku.com/categories/command-line" target="_blank">Heroku command-line client</a>.
      </p>
      <br>
      <p>
        Next to that you need a locally installed version of Ruby 2.2.0+, Rubygems, Bundler, and Rails 5+. use <a href="https://rubyinstaller.org" target="_blank">this installer</a> and check out <a href="https://medium.com/ruby-on-rails-web-application-development/how-to-install-rubyonrails-on-windows-7-8-10-complete-tutorial-2017-fc95720ee059">this guide</a> for more info.
      </p>

      <h3>Cloning this app</h3>

      <p>
        before you clone the app repository first be sure to cd to the location where you want to download the app folder.
      </p>

      <pre class="language-term">
        <code class=" language-term">
<span class="token-prompt">$  </span><span class="token-input">cd C:/download-repository</span></code>
      </pre>

      <p>
        Now clone the repository.
      </p>

      <pre class="language-term">
        <code class=" language-term">
<span class="token-prompt">$  </span><span class="token-input">git clone https://github.com/Ydontknow/YDK  </span></code>
      </pre>

      <p>
        before you make any changes make a new branch.
      </p>


      <pre class="language-term">
        <code class=" language-term">
<span class="token-prompt">$  </span><span class="token-input">git checkout -b branch-name</span></code>
      </pre>

      <p>
        When you've made changes commit them using the following command.
      </p>

      <pre class="language-term">
        <code class=" language-term">
<span class="token-prompt">$  </span><span class="token-input">git commit -a -m "descriptive comment on the changes you've made"  </span></code>
      </pre>

      <p>
        Then proceed by pushing the commit to the remote branch you've made
      </p>


      <pre class="language-term">
        <code class=" language-term">
<span class="token-prompt">$  </span><span class="token-input">git push -u origin branch-name</span></code>
      </pre>

      <p>
        Also visit the git repository on <a href="https://github.com/Ydontknow/YDK" target="_blank">github</a>.
      </p>

      <h3>Rails Tips</h3>
      <p>
        To test out your app localy execute the following command in the app repository. You can acces your local server at <a href="http://localhost:3000" target="_blank">localhost:3000</a>.
      </p>

      <pre class="language-term">
        <code class=" language-term">
<span class="token-prompt">$  </span><span class="token-input">rails s</span></code>
      </pre>

      <h3>Materialize
      <a href="http://materializecss.com"><%= image_tag('materialize.png', width:'70', class:'materialize-logo')%></a></h3>
      <p>
        The Materialize-sass gem is installed in this app so you can use materialize classes in your html. For more information check the materialize <a href="http://materializecss.com">documentation</a>
      </p>
</div>
