<%= render partial: '/layouts/navbar' %>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="title col s12">Log in</h3>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-field col s12">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'validate' %>
          <%= f.label :email, data: {error: 'please fill in a valid email'} %>
        </div>

        <div class="input-field col s12">
          <%= f.password_field :password, autocomplete: "off", class: 'validate' %>
          <%= f.label :password %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="col s12">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions col s12">
          <%= f.submit "Log in", class: 'waves-effect waves-light btn' %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function() {
  Materialize.updateTextFields();
});

</script>
