<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo left hide-on-small-only">Logo</a>
    <ul class="right">
      <li><%= link_to "instructions", root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
          <li class="hide-on-small-only">Logged in as <strong class="current-user"><%= current_user.email[/[^@]+/] %></strong></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li class="active"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="title col s12">Log in</h3>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-field col s12">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'validate' %>
          <%= f.label :email, data: {error: 'please fill in a valid email'} %>
        </div>

        <div class="input-field col s12">
          <%= f.password_field :password, autocomplete: "off", class: 'validate' %>
          <%= f.label :password %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="col s12">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions col s12">
          <%= f.submit "Log in", class: 'waves-effect waves-light btn' %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function() {
  Materialize.updateTextFields();
});

</script>
