<nav>
  <div class="nav-wrapper">

    <!-- logo -->
    <a href="#" class="brand-logo left hide-on-small-only">Logo</a>

    <ul class="right">
      <!-- instructions -->
      <%= content_tag :li, class: ('active' if current_page?(root_path)) do%>
        <%= link_to "instructions", root_path %>
      <% end %>

      <!-- check if signed in -->
      <% if user_signed_in? %>
        <% if current_user.first_name.empty? %>
          <% name = current_user.email[/[^@]+/] %>
        <% else %>
          <% name = current_user.first_name + ' ' + current_user.last_name %>
        <% end %>

        <!-- edit profile -->
        <%= content_tag :li, :class => ('active' if current_page?('/user/edit')) do %>
          <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %>
        <% end %>

        <li class="">
          <%= link_to "profile", current_user, action: 'show', class: 'navbar-link' %>
        </li>

        <!-- logout -->
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %>
        </li>

        <!-- user name -->
        <li class="hide-on-small-only">
          <strong><%= name %></strong>
        </li>

      <!-- not logged in -->
      <% else %>

        <!-- sign up -->
        <%= content_tag :li, :class => ('active' if current_page?('/user/sign_up')) do %>
          <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link'  %>
        <% end %>

        <!-- login -->
        <%= content_tag :li, :class => ('active' if current_page?('/login')) do %>
          <%= link_to "Login", new_user_session_path, class: 'navbar-link'  %>
        <% end %>

      <% end %>
    </ul>
  </div>
</nav>
