<nav>
  <div class="nav-wrapper">

<!-- main nav -->

    <!-- logo -->
    <%= link_to "Logo", root_path, class: 'brand-logo left' %>

    <ul class="right hide-on-med-and-down">
      <!-- instructions -->
      <%= content_tag :li, class: ('active' if current_page?(root_path)) do%>
        <%= link_to "instructions", root_path %>
      <% end %>

      <!-- check if signed in -->
      <% if user_signed_in? %>
          <% name = current_user.first_name + ' ' + current_user.last_name %>

        <!-- edit profile -->
        <%= content_tag :li, class: ('active' if current_page?('/d/user/edit')) do %>
          <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %>
        <% end %>

        <!-- profile -->
        <%= content_tag :li, class: ('active' if @user && current_page?("/users/#{current_user.id}")) do %>
          <%= link_to "profile", current_user, action: 'show', class: 'navbar-link' %>
        <% end %>

        <!-- logout -->
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %>
        </li>

        <!-- user name -->
        <li>
          <strong><%= name %></strong>
        </li>

      <!-- not logged in -->
      <% else %>

        <!-- sign up -->
        <%= content_tag :li, :class => ('active' if current_page?('/d/user/sign_up')) do %>
          <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link'  %>
        <% end %>

        <!-- login -->
        <%= content_tag :li, :class => ('active' if current_page?('/login')) do %>
          <%= link_to "Login", new_user_session_path, class: 'navbar-link'  %>
        <% end %>

      <% end %>
    </ul>

<!-- sidenav -->

    <!-- hamburger menu -->
    <a href="" data-activates="mobile-nav" class="right button-collapse"><i class="material-icons">menu</i></a>

    <ul class="side-nav" id="mobile-nav">
      <!-- instructions -->
      <%= content_tag :li, class: ('active' if current_page?(root_path)) do%>
        <%= link_to "instructions", root_path %>
      <% end %>

      <!-- check if signed in -->
      <% if user_signed_in? %>

        <!-- profile -->
        <%= content_tag :li, class: ('active' if current_page?("/users/#{current_user.id}")) do %>
          <%= link_to name, current_user, action: 'show', class: 'navbar-link' %>
        <% end %>

        <!-- edit profile -->
        <%= content_tag :li, class: ('active' if current_page?('/d/user/edit')) do %>
          <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %>
        <% end %>

        <!-- logout -->
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %>
        </li>

      <!-- not logged in -->
      <% else %>

        <!-- sign up -->
        <%= content_tag :li, :class => ('active' if current_page?('/d/user/sign_up')) do %>
          <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link'  %>
        <% end %>

        <!-- login -->
        <%= content_tag :li, :class => ('active' if current_page?('/login')) do %>
          <%= link_to "Login", new_user_session_path, class: 'navbar-link'  %>
        <% end %>

      <% end %>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $(".button-collapse").sideNav({
      menuWidth: 200,
      edge: 'right'
    }
  );
</script>
