<!DOCTYPE html>
<html>
  <head>
    <title>YDK</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if notice %>
    <script type="text/javascript">
      Materialize.toast('<%= notice %>', 6000, 'alert alert-success')
    </script>
    <% end %>
    <% if alert %>
      <script type="text/javascript">
        Materialize.toast('<%= alert %>', 6000, 'alert alert-danger')
      </script>
    <% end %>
  </body>
</html>
